<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_partner_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_partner_code" class="form-control" name="row[c_partner_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_account_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_account_type" class="form-control" name="row[c_account_type]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_bank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_bank" class="form-control" name="row[c_bank]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_bank_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_bank_no" class="form-control" name="row[c_bank_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_province_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_province_code" class="form-control" name="row[c_province_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_province')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_province" class="form-control" name="row[c_province]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_city_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_city_code" class="form-control" name="row[c_city_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_city')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-c_city" class="form-control" data-toggle="city-picker" name="row[c_city]" type="text"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_county_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_county_code" class="form-control" name="row[c_county_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_area')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_area" class="form-control" name="row[c_area]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_address" class="form-control" name="row[c_address]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_bank_branch')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_bank_branch" class="form-control" name="row[c_bank_branch]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_name" class="form-control" name="row[c_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_feedback_email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_feedback_email" class="form-control" name="row[c_feedback_email]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_alipay_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_alipay_no" class="form-control" name="row[c_alipay_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id_card_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_id_card_no" class="form-control" name="row[c_id_card_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_id_type" class="form-control" name="row[c_id_type]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_bank_is_boss')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_bank_is_boss" class="form-control" name="row[c_bank_is_boss]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_contact_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_contact_type" class="form-control" name="row[c_contact_type]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_id_no" class="form-control" name="row[c_id_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id_card_img_f')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_id_card_img_f" class="form-control" name="row[c_id_card_img_f]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_id_card_b_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_id_card_b_img" class="form-control" size="50" name="row[c_id_card_b_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_id_card_b_img" class="btn btn-danger plupload" data-input-id="c-c_id_card_b_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_id_card_b_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_id_card_b_img" class="btn btn-primary fachoose" data-input-id="c-c_id_card_b_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_id_card_b_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_id_card_b_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_annex_img1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_annex_img1" class="form-control" name="row[c_annex_img1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_annex_img2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_annex_img2" class="form-control" name="row[c_annex_img2]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_annex_img3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_annex_img3" class="form-control" name="row[c_annex_img3]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_tel" class="form-control" name="row[c_tel]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_merchant_license')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_merchant_license" class="form-control" name="row[c_merchant_license]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_license_start_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_license_start_date" class="form-control" name="row[c_license_start_date]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_license_end_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_license_end_date" class="form-control" name="row[c_license_end_date]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_license_period')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_license_period" class="form-control" name="row[c_license_period]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_license_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_license_img" class="form-control" size="50" name="row[c_license_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_license_img" class="btn btn-danger plupload" data-input-id="c-c_license_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_license_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_license_img" class="btn btn-primary fachoose" data-input-id="c-c_license_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_license_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_license_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_license_scope')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_license_scope" class="form-control" name="row[c_license_scope]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_merchant_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_merchant_name" class="form-control" name="row[c_merchant_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_short_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_short_name" class="form-control" name="row[c_short_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_service_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_service_phone" class="form-control" name="row[c_service_phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_store_quanjing_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_store_quanjing_img" class="form-control" size="50" name="row[c_store_quanjing_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_store_quanjing_img" class="btn btn-danger plupload" data-input-id="c-c_store_quanjing_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_store_quanjing_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_store_quanjing_img" class="btn btn-primary fachoose" data-input-id="c-c_store_quanjing_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_store_quanjing_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_store_quanjing_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_store_shouyintai_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_store_shouyintai_img" class="form-control" size="50" name="row[c_store_shouyintai_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_store_shouyintai_img" class="btn btn-danger plupload" data-input-id="c-c_store_shouyintai_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_store_shouyintai_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_store_shouyintai_img" class="btn btn-primary fachoose" data-input-id="c-c_store_shouyintai_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_store_shouyintai_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_store_shouyintai_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_store_zhaopai_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_store_zhaopai_img" class="form-control" size="50" name="row[c_store_zhaopai_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_store_zhaopai_img" class="btn btn-danger plupload" data-input-id="c-c_store_zhaopai_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_store_zhaopai_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_store_zhaopai_img" class="btn btn-primary fachoose" data-input-id="c-c_store_zhaopai_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_store_zhaopai_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_store_zhaopai_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_service_permit_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-c_service_permit_img" class="form-control" size="50" name="row[c_service_permit_img]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-c_service_permit_img" class="btn btn-danger plupload" data-input-id="c-c_service_permit_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-c_service_permit_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-c_service_permit_img" class="btn btn-primary fachoose" data-input-id="c-c_service_permit_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-c_service_permit_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-c_service_permit_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_mch_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_mch_id" data-rule="required" data-source="c/mch/index" class="form-control selectpage" name="row[c_mch_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_mch_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_mch_key" class="form-control" name="row[c_mch_key]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_wx_merchant_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_wx_merchant_code" class="form-control" name="row[c_wx_merchant_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_zfb_merchant_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_zfb_merchant_code" class="form-control" name="row[c_zfb_merchant_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_wx_audit_state')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_wx_audit_state" class="form-control" name="row[c_wx_audit_state]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_zfb_audit_state')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_zfb_audit_state" class="form-control" name="row[c_zfb_audit_state]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_state')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_state" class="form-control" name="row[c_state]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_bank_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_bank_code" class="form-control" name="row[c_bank_code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_property')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_property" class="form-control" name="row[c_property]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[c_create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
