<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_name" class="form-control" name="row[c_name]" type="text" value="" data-rule="required">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_contacts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_contacts" class="form-control" name="row[c_contacts]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_phone" class="form-control" name="row[c_phone]" type="text" value="">
        </div>
    </div>



<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">所属区域</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <div class='control-relative'><input id="c-c_city" class="form-control" data-toggle="city-picker" name="row[areastr]" type="text"></div>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">明细地址</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_area" class="form-control" name="row[c_address]" type="text">-->
<!--        </div>-->
<!--    </div>-->



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否平台版</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_xcx_platform" name="row[c_xcx_platform]" type="hidden" value="1">
            <a id="platform_toggle" href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_xcx_platform" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_xcx_platform]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">小程序外卖接单</label>
        <div class="col-xs-12 col-sm-8">
            <select  class="form-control"  id="c_phone_cashier" data-rule="required" name="row[c_phone_cashier]" type="text"  >
                <option value="1" selected>APP接单</option>
                <option value="0">收银机接单</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否允许收银</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_cashier" name="row[c_use_cashier]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_cashier" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_use_cashier]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>


        <div class="form-group" id="cashier_hidden" style="display: none;">
            <label class="control-label col-xs-12 col-sm-2">收银机类型</label>
            <div class="col-xs-12 col-sm-8">
                <select  class="form-control"  id="c_cashier_type" data-rule="required" name="row[c_cashier_type]" type="text" >
                    <option value="6">PC</option>
                    <option value="0">安卓</option>
                </select>
            </div>
        </div>
    <div style="margin-top: 10px;margin-left: 130px;opacity:0.5">收银机类型由于涉及不同系统间通信，选定后不允许修改，请谨慎选择</div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">微信餐厅类型</label>
        <div class="col-xs-12 col-sm-8" style="margin-left:-20px">
            <label class="checkbox-inline">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type1" value="0" > &nbsp微信及小程序餐厅
            </label>
            <label class="checkbox-inline">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type2" value="1">  &nbsp小程序展示
            </label>
            <label class="checkbox-inline" aria-selected="true">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type3" value="2" checked>  &nbsp小程序餐厅
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有外卖</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_waimai" name="row[c_use_waimai]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_waimai" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_use_waimai]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有预定</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_yuding" name="row[c_use_yuding]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_yuding" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_use_yuding]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有优惠券</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_coupon" name="row[c_use_coupon]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_coupon" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_use_coupon]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有会员卡</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_vip" name="row[c_use_vip]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_vip" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='1' value='row[c_use_coupon]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>


    <div style="margin-top: 10px;margin-left: 130px;opacity:0.5">【初始超级管理员账号：admin】【APP登录密码:666666】【收银端登录密码：666666】</div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
