<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('C_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_code" data-rule="required" class="form-control" name="row[c_code]" type="text" value="{$row.c_code|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('C_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_name" class="form-control" name="row[c_name]" type="text" value="{$row.c_name|htmlentities}" >
        </div>
    </div>



<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_jpush_id')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_jpush_id" data-rule="required" data-source="c/jpush/index" class="form-control selectpage" name="row[c_jpush_id]" type="text" value="{$row.c_jpush_id|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('C_sms_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-c_sms_num" class="form-control" name="row[c_sms_num]" type="number" value="{$row.c_sms_num|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否平台版</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_xcx_platform" name="row[c_xcx_platform]" type="hidden" value="{$row.c_xcx_platform|htmlentities}">
            <a id="platform_toggle" href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_xcx_platform" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_xcx_platform' value='row[c_xcx_platform]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>

<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_phone_cashier')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_phone_cashier" class="form-control" name="row[c_phone_cashier]" type="number" value="{$row.c_phone_cashier|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">小程序外卖接单</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c_phone_cashier" data-rule="required" data-source="category/selectpage" class="form-control selectpage" name="row[c_phone_cashier]" type="text" value="是">-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">小程序外卖接单</label>
        <div class="col-xs-12 col-sm-8">
            <select  class="form-control"  id="c_phone_cashier" data-rule="required" name="row[c_phone_cashier]" type="text"  >
                <option value="1">APP接单</option>
                <option value="0">收银机接单</option>
            </select>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">小程序外卖接单</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_phone_cashier" class="form-control" name="row[c_phone_cashier]" type="number" value="{$row.c_phone_cashier}">-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否允许收银</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_cashier" name="row[c_use_cashier]" type="hidden" value="0">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_cashier" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_use_cashier' value='row[c_use_cashier]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>



<!--    <div class="form-group" id="cashier_hidden" style="display: none;">-->
<!--        <label class="control-label col-xs-12 col-sm-2">收银机类型</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <select  class="form-control"  id="c_cashier_type" data-rule="required" name="row[c_cashier_type]" type="text" >-->
<!--                <option value="6">PC</option>-->
<!--                <option value="0">安卓</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">微信餐厅类型</label>
        <div class="col-xs-12 col-sm-8" style="margin-left:-20px">
<!--            <input id="c-c_wx_type" class="form-control" name="row[c_wx_type]" type="number" value="{$row.c_wx_type|htmlentities}">-->
            <label class="checkbox-inline">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type1" value="0" > &nbsp微信及小程序餐厅
            </label>
            <label class="checkbox-inline">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type2" value="1">  &nbsp小程序展示
            </label>
            <label class="checkbox-inline">
                <input name="row[c_wx_type]" type="radio" id="c_wx_type3" value="2">  &nbsp小程序餐厅
            </label>
        </div>
    </div>
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_pay_version')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_pay_version" class="form-control" name="row[c_pay_version]" type="number" value="{$row.c_pay_version|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_is_shop')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_is_shop" class="form-control" name="row[c_is_shop]" type="number" value="{$row.c_is_shop|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_business_type')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_business_type" class="form-control" name="row[c_business_type]" type="number" value="{$row.c_business_type|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_device_id')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_device_id" data-rule="required" data-source="c/device/index" class="form-control selectpage" name="row[c_device_id]" type="text" value="{$row.c_device_id|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('C_login_state')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-c_login_state" class="form-control" name="row[c_login_state]" type="number" value="{$row.c_login_state|htmlentities}">-->
<!--        </div>-->
<!--    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有外卖</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_waimai" name="row[c_use_waimai]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_waimai" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_use_waimai' value='row[c_use_waimai]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有预定</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_yuding" name="row[c_use_yuding]" type="hidden" value="1">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_yuding" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_use_yuding' value='row[c_use_yuding]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有优惠券</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_coupon" name="row[c_use_coupon]" type="hidden" value="0">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_coupon" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_use_coupon' value='row[c_use_coupon]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">是否有会员卡</label>
        <div class="col-xs-12 col-sm-8">
            <input  id="c_use_vip" name="row[c_use_vip]" type="hidden" value="0">
            <a href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_use_vip" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_use_vip' value='row[c_use_coupon]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">激活停用账号</label>
        <div class="col-xs-12 col-sm-8">
            <input type="hidden" id="c_enable_account" name="row[c_enable_account]" value="0">
            <a id="enable_account" href="javascript:;" data-toggle="switcher" class="btn-switcher" data-input-id="c_enable_account" data-yes="1" data-no="0" >
                <i class="fa fa-toggle-on text-success {eq name='$row.c_enable_account' value='row[c_enable_account]'}fa-flip-horizontal text-gray{/eq} fa-2x"></i>
            </a><span id="accountstatus" style="margin-left:12px;" value=""></span>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>